// comment this for prevent simulator start when running test, if there are any issue, try to uncomment this. Long Sun.
//BUNDLE_LOADER = $(BUILT_PRODUCTS_DIR)/DailyReview.app/DailyReview
//TEST_HOST = $(BUNDLE_LOADER)

OTHER_LDFLAGS =  -all_load
INFOPLIST_FILE = resources/DailyReviewTests-Info.plist
PRODUCT_NAME = DailyReviewTests
WRAPPER_EXTENSION = octest
FRAMEWORK_SEARCH_PATHS = $(SDKROOT)/Developer/Library/Frameworks $(DEVELOPER_LIBRARY_DIR)/Frameworks
USER_HEADER_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)/KiwiPublicHeaders
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_PREFIX_HEADER = src/DailyReview-Prefix.pch
